* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Changed background color */
}

h1 {
    margin-bottom: 20px; /* Add some space below the h1 */
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 50px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: #e0e0e0; 
}